target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.ipr
*.iws

.vscode/
*.code-workspace

.DS_Store
Thumbs.db

*.log
*.log.*

.env
.env.*
!.env.example

*.class
*.jar
*.war
*.ear
*.nar

spring-shell.log
